{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark h-100">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            {% for category in categories %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ category.img.url }}" class="card-img-top" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="{% url 'filterproduct' category.id %}" class="btn btn-primary">See Products</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}